<link rel="stylesheet" href="/admin/css/items.css" />

<section class="module" id="items">
    <div class="card">
        <div class="card-head">
            <h3>Danh sách vật phẩm</h3>
        </div>
        <div class="table-wrap">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TYPE</th>
                        <th>NAME</th>
                        <th>Description</th>
                        <th>Level</th>
                        <th>Icon</th>
                        <th>Part</th>
                        <th>Up to up</th>
                        <th>Power req</th>
                        <th>Gold</th>
                        <th>Gem</th>
                        <th>Head</th>
                        <th>Body</th>
                        <th>Leg</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody id="items-table"></tbody>
            </table>
        </div>
    </div>
</section>
