<link rel="stylesheet" href="/admin/css/npcs.css" />

<section class="module" id="npcs">
    <div class="card">
        <div class="card-head">
            <h3>Danh sách NPC</h3>
        </div>
        <div class="table-wrap">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>Head</th>
                        <th>Body</th>
                        <th>Leg</th>
                        <th>Avatar</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody id="npcs-table"></tbody>
            </table>
        </div>
    </div>
</section>
